*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body{
    width: 100%;
    height: 100%;
}


.nav-bar{
    height: 70px;
    width: 100%;
    background-color: #1565c0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 3vw 10px 3vw;
}


.menu{
    display: flex;
    gap: 18px;
}

.logo h1{
    font-size: 2.8em;
    color: rgb(243, 238, 238);
}

.logo img{
    height: 60px;
    width: 60px;
    object-fit: cover;
}


.menu h4>a{
    text-decoration: none;
    color: #fff;
}

.menu-icon{
    font-size: 1.5em;   
    font-weight: 900; 
    color: #fff;
}

.content{
    height: calc(100% - 70px);
    width: auto;

}
video{
    height: calc(100% - 70px);
    width: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
    background: linear-gradient(rgba(0, 0, 0, 0.7)rgba(0, 0, 0, 0.7));

}

.text{
    padding-left: 8%;
    padding-top: 38vh;
    line-height: 9vw;
}

.text h1{
    font-size: 7vw;
    color: #fff;
    font-weight: 800;
}

#feel{
    color: #0d47a1;
}



@keyframes slide{
    from{
        transform: translateX(0);
    }

    to{
        transform: translateX(-100%);
    }
}

.scroll{
    overflow: hidden;
    display: flex;
    position: relative;
    cursor: pointer;
}

.scroll:before,
.scroll:after {
    position: absolute;
    top: 1px;
    width: 200px;
    height: 100px;
    content: "";
    z-index: 2;

}
.scroll:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), #000);
}

.scroll:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #000);
}

.scroll:hover .logo-slide{
    animation-play-state: paused;
}

.logo-slide{
    white-space: nowrap;
    animation: 25s slide infinite linear;
    background-color: #000;
}
.logo-slide h1{
    display: inline-block;
    font-size: 4em;
    margin: 10px;
    color: #d1c4e9;
}

.detail{
    /* height: 60%;
    width: 100%; */
    
}

.detail h1{
    text-align: center;
    padding-top: 20px;
    font-size: 3em;
    color: #0d47a1;
}

.box{
    /* background-color: aqua; */
    padding-top: 20px;
    /* height: 80%;
    width: 100%; */
  

}

.cards-collection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* background-color: #e3f2fd; */
    /* height: 100%;
    width: 100%; */
    padding: 20px 2vh;
    overflow: hidden;

}

.card {
    background-color: #bbdefb;
    border-radius: 20px;
    padding: 25px 20px;
    margin: 0px 1vw;
    position: relative;
    text-align: center;
}


.card h2{
    margin-bottom: 18px;

}

.card p{
    font-weight: 400;
    font-family: cursive;
    
}

.purity-icon {
    font-size: 3em;
    color: #0d47a1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.product-page{
    text-align: center;
}

.product-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.product-card img {
    width: 150px;
    height: 150px;
}

@media only screen and (max-width: 900px){

    .cards-collection {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;

        padding: 20px 1vh;
        
    }
    .card{
        margin: 2vw 2vw;
    }

}



@media (max-width:600px) {
    .menu-icon {
        display: block;
    }

    .content{
        height: calc(80% - 70px);
        width: auto;
    }
    .content video{
        height: calc(80% - 70px);
        width: 100%;
    }

    .text{
        padding-left: 4%;
        padding-top: 48vh;
    }
    .text h1{
        font-size: 4vh;
        line-height: 5vh;
        font-weight: 900;
    }

    .menu{
        display: none;
    }

    .logo-slide h1{
        display: inline-block;
        font-size: 2em;
        margin: 10px;
    }

    .scroll:before,
    .scroll:after {
    position: absolute;
    top: 1px;
    width: 60px;
    height: 55px;
    content: "";
    z-index: 2;
    }

    /* .detail{
        height: 40%;
        width: 100%;
    } */

    .cards-collection {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        /* background-color: red; */
        /* height: 100%;
        width: 100%; */
        padding: 20px 1vh;
        display: block;
        overflow:visible;
    }

    .card {
        margin: 5vw 15vw;
    }

    
}

@media (min-width: 600px){
    .menu-icon {
        display: none;
    }
}




    